@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");

a{
    text-decoration: none;
}

.sub-nav{
    z-index: 1;
    background-color: #333632e3;
    border-bottom: 1px solid #404040;
}
.menu a{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: initial;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 19px;
}
.lang a{
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: initial;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 8px;
}
.dropdown-toggle::after {
    display: none;
}
.nav-link{
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-size: 17px;
    color: #6b6b6b;
}
.nav-link img{
    margin-right: 14px;
}
.nav-item:first-child{
    position: relative;
    bottom: 3px;
    margin-right: 5px;
}
.dzagli{
    position: relative;
    bottom: 8px;
    margin-right: 1px;
}
.logo{
    padding-top: 4px; 
}
.nav-item{
    padding-top: 4px; 
}
.navbar{
    z-index: 1;
    top: 36px;
}



@media (min-width: 1400px){


    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px;
    }
}